//Colors
 @color-black: #000;
 @color-coral: #F37A7A;
 @color-yellow: #FFDD15;
 @color-white: #FFFFFF;
 @color-red: #EE4545;
 @color-gray: #CDCDCD;
 @color-mint: #A7D6CA;
 @color-green: #01AD42;
 @color-orange: #FFB800;
 @color-dark-blue: #03133D;
 @color-grey-blue: #1E84AE;
 @color-navy-blue: #2687E0;
 @color-light-blue: #26A9E0;
 @color-light-gray: #DEE7F1;
 @color-floral-white: #FFF9F1;
 @color-light-floral-white: #F2F2F2;

// Font-size
@font-size-12: 12px;
@font-size-13: 13px;
@font-size-14: 15px;
@font-size-16: 16px;
@font-size-18: 18px;
@font-size-25: 25px;
@font-size-28: 28px;
@font-size-40: 40px;
@font-size-50: 50px;
@font-size-70: 70px;

// Fonts
@font-family-name__base: 'Montserrat';
@font-family-name__regular: 'CodeNext';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@font-family__code-next: 'CodeNext-ExtraBold', 'Arial Narrow', Arial, sans-serif;
@font-family__regular: 'Montserrat', 'Open sans', Arial, sans-serif;



